<p style="color: green"><%= notice %></p>

<div class="m-5 p-10 text-center"> <!-- Added text-center class -->
  <%= link_to "Back to products", products_path %>
  
  <% if @product.image_url.present? %>
    <div>
      <%= image_tag @product.image_url, alt: @product.title, style: "width: 200px; height: auto;" %>
    </div>
  <% else %>
    <p>No image available.</p>
  <% end %>

  <h2><%= @product.title %></h2>
  <p><%= @product.description %></p>
  <p>Price: ₹<%= @product.price %></p>
  <p>Quantity: <%= @product.quantity %></p>

  <% if current_user&.role == "seller" %>
    <%= link_to "Edit this product", edit_product_path(@product) %> |
    <%= button_to "Destroy this product", @product, method: :delete %>
  <% end %>

  
</div>
