<nav class="navbar navbar-expand-lg sticky-top" style="background: linear-gradient(to right, #0088cc, #003399);">
  <div class="container ">

  <%= link_to image_tag('logo.png', alt: 'Logo', style: 'height: 40px; margin-right: 0.5rem;') + ' IKart', products_path, class: "navbar-brand text-white", style: "font-size: 1.8rem;" %>



    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto"> <!-- Left section -->
        <li class="nav-item">
          <%= link_to 'About Us', products_path, class: 'nav-link text-white' %>
        </li>
      </ul>
      </div>
      <div class="d-flex align-items-center absolute right-0"> <!-- Right-aligned items -->
    
      <!-- Search Bar -->
      <form action="<%= products_path %>" method="get" style="display: flex; margin-right: 10px;">
      <input type="text" name="query" placeholder="Search..." style="width: 200px; border-radius: 20px; border: 1px solid #ccc; padding: 5px;"/>
      <button type="submit" style="border: none; border-radius: 20px; background-color: transparent; color: white; padding: 5px 10px; margin-left: 5px;">
      <i class="fas fa-search"></i>
      </button>
      </form>
      <%= link_to '<i class="fas fa-envelope text-white"></i>'.html_safe, 'https://mail.google.com', target: '_blank', class: 'nav-link' %>
      <%= link_to '<i class="fab fa-instagram text-white"></i>'.html_safe, 'https://www.instagram.com', target: '_blank', class: 'nav-link' %>
      
      
      <%= link_to 'Login', new_user_session_path, class: 'btn btn-outline-secondary me-2 text-white' %>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-outline-secondary me-2 text-white' %>
<%= link_to 'Logout', destroy_user_session_path,class: 'btn btn-outline-secondary me-2 text-white', method: :delete %>

      <%= link_to '<i class="fas fa-shopping-cart text-white ml-4"></i>'.html_safe, products_path, class: 'nav-link' %>
  </div>
  
  
  

  </div>
</nav>
